.bluebox,
.building-icon {
  position: absolute;
  left: 0;
  border-radius: var(--br-31xl);
}
.bluebox {
  top: 0;
  background-color: var(--color-cornflowerblue);
  box-shadow: 0 4px 4px rgba(0, 0, 0, 0.25);
  backdrop-filter: blur(4px);
  width: 1358px;
  height: 970px;
}
.building-icon {
  top: 94px;
  width: 626px;
  height: 876px;
  object-fit: cover;
}
.backgroundbluebox {
  position: absolute;
  top: 115px;
  left: 125px;
  width: 1358px;
  height: 970px;
}
.largebox,
.whitebox {
  position: absolute;
  border-radius: var(--br-31xl);
}
.whitebox {
  top: 115px;
  left: 480px;
  background-color: #e4f1ff;
  width: 1003px;
  height: 970px;
}
.largebox {
  top: 228px;
  left: 541px;
  background-color: var(--color-white);
  width: 884px;
  height: 318px;
}
.welcome-back-isabella {
  position: absolute;
  top: 149px;
  left: 560px;
  font-size: 21px;
  display: inline-block;
  width: 227px;
  height: 22px;
}
.check-out-todays,
.now,
.upcoming-hours {
  position: absolute;
  top: 181px;
  left: 560px;
  display: inline-block;
  width: 312px;
  height: 22px;
}
.now,
.upcoming-hours {
  top: 268px;
  left: 574px;
  width: 133px;
}
.now {
  top: 323px;
  font-size: var(--font-size-sm);
  width: 32px;
  height: 16px;
}
.div,
.div1 {
  top: 326px;
  font-size: var(--font-size-2xs);
  width: 30px;
  height: 12px;
}
.div {
  position: absolute;
  left: 685px;
  display: inline-block;
}
.div1 {
  left: 796px;
}
.div1,
.div2,
.div3 {
  position: absolute;
  display: inline-block;
}
.div2 {
  top: 326px;
  left: 907px;
  font-size: var(--font-size-2xs);
  width: 30px;
  height: 12px;
}
.div3 {
  left: 1020px;
}
.div3,
.div4,
.div5 {
  top: 326px;
  font-size: var(--font-size-2xs);
  width: 30px;
  height: 12px;
}
.div4 {
  position: absolute;
  left: 1133px;
  display: inline-block;
}
.div5 {
  left: 1246px;
}
.div5,
.div6,
.more-details-of {
  position: absolute;
  display: inline-block;
}
.div6 {
  top: 326px;
  left: 1359px;
  font-size: var(--font-size-2xs);
  width: 30px;
  height: 12px;
}
.more-details-of {
  top: 578px;
  left: 560px;
  width: 269px;
  height: 22px;
}
.menu-container {
  position: relative;
  display: inline-block;
}

.menu {
  cursor: pointer;
  border: 0;
  padding: 0;
  background-color: transparent;
  position: absolute;
  top: 140px;
  left: 1280px;
}

.dropdown-content {
  position: absolute;
  top: calc(159px + 100% + 5px); /* Adjust this value for proper spacing */
  left: calc(1307px + 50%); /* Adjust this value for proper horizontal alignment */
  transform: translateX(-50%);
  background-color: white;
  border-radius: 10px; /* Adjust this value for the desired roundness */
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
  padding: 10px;
  z-index: 1;
  display: flex;
  flex-direction: column;
  gap: 5px;
}


.addbtn-icon,
.user-icon {
  position: absolute;
  top: 148px;
  left: 1358px;
  width: 45px;
  height: 45px;
  object-fit: cover;
}
.addbtn-icon {
  top: 157px;
  left: 170px;
  width: 30px;
  height: 30px;
}
.minibox-5 {
  position: absolute;
  top: 0;
  left: 0;
  border-radius: var(--br-21xl);
  background-color: var(--color-white);
  width: 266px;
  height: 156px;
}
.feels-like,
.recbex {
  position: absolute;
  top: 32px;
  left: 34px;
}
.recbex {
  top: 0;
  left: 0;
  border-radius: var(--br-3xs);
  background-color: var(--color-cornflowerblue);
  width: 30px;
  height: 30px;
}
.hot-icon {
  position: absolute;
  top: 5px;
  left: 5px;
  width: 20px;
  height: 20px;
  object-fit: cover;
}
.feels-like1 {
  position: absolute;
  top: 31px;
  left: 200px;
  width: 30px;
  height: 30px;
}
.feels-like-group {
  position: absolute;
  top: 831px;
  left: 850px;
  width: 266px;
  height: 156px;
  color: var(--color-black);
}
.chance-of-rain,
.chance-of-rain1 {
  position: absolute;
  top: 32px;
  left: 40px;
}
.chance-of-rain1 {
  top: 30px;
  left: 200px;
  width: 30px;
  height: 30px;
}
.chance-of-rain-group {
  position: absolute;
  top: 831px;
  left: 1159px;
  width: 266px;
  height: 156px;
  color: var(--color-black);
}
.uv-index,
.uv-index-group {
  position: absolute;
  top: 32px;
  left: 33px;
}
.uv-index-group {
  top: 831px;
  left: 541px;
  width: 266px;
  height: 156px;
  color: var(--color-black);
}
.humidity,
.water-icon {
  position: absolute;
  top: 27px;
  left: 33px;
}
.water-icon {
  top: 6px;
  left: 5px;
  width: 20px;
  height: 20px;
  object-fit: cover;
}
.humidity-group,
.humidity1 {
  position: absolute;
  top: 27px;
  left: 200px;
  width: 30px;
  height: 30px;
}
.humidity-group {
  top: 642px;
  left: 541px;
  width: 266px;
  height: 156px;
}
.wind,
.wind-group {
  position: absolute;
  top: 27px;
  left: 34px;
}
.wind-group {
  top: 642px;
  left: 850px;
  width: 266px;
  height: 156px;
}
.precipitation,
.precipitation1 {
  position: absolute;
  top: 27px;
  left: 40px;
}
.precipitation1 {
  top: 28px;
  left: 200px;
  width: 30px;
  height: 30px;
}
.precipitation-group {
  position: absolute;
  top: 642px;
  left: 1159px;
  width: 266px;
  height: 156px;
}
.compass-icon,
.sunny-day-icon,
.sunny-day-icon1,
.sunny-day-icon2,
.sunny-day-icon3 {
  position: absolute;
  top: 352px;
  left: 580px;
  width: 20px;
  height: 20px;
  object-fit: cover;
}
.compass-icon,
.sunny-day-icon1,
.sunny-day-icon2,
.sunny-day-icon3 {
  left: 802px;
}
.compass-icon,
.sunny-day-icon2,
.sunny-day-icon3 {
  left: 1024px;
}
.compass-icon,
.sunny-day-icon3 {
  left: 1246px;
}
.compass-icon {
  top: 249px;
  left: 185px;
  width: 14px;
  height: 14px;
}
.new-york-usa,
.today-28-sept {
  position: absolute;
  top: 244px;
  left: 207px;
  color: var(--color-white);
}
.today-28-sept {
  top: 276px;
  left: 185px;
  font-size: var(--font-size-sm);
}
.light-icon,
.light-icon1 {
  position: absolute;
  top: 241px;
  left: 388px;
  width: 20px;
  height: 20px;
  object-fit: cover;
}
.light-icon1 {
  top: 276px;
}
.div7 {
  top: 246px;
  left: 419px;
  font-size: var(--font-size-xs);
}
.div7,
.div8,
.div9,
.sunny {
  position: absolute;
  font-family: var(--font-inter);
  color: var(--color-white);
}
.div8 {
  top: 279px;
  left: 421px;
  font-size: var(--font-size-xs);
}
.div9,
.sunny {
  top: 327px;
  left: 219px;
  font-size: 110px;
}
.sunny {
  top: 466px;
  left: 283px;
  font-size: 28px;
}
.left-arrow-icon,
.right-arrow-icon,
.sun-icon {
  position: absolute;
  top: 377px;
  left: 436px;
  width: 20px;
  height: 20px;
  object-fit: cover;
}
.left-arrow-icon,
.sun-icon {
  left: 161px;
}
.sun-icon {
  top: 473px;
  left: 253px;
}
.C,
.F,
.rectangle,
.toggle-wrapper {
  position: absolute;
}

.C {
  top: 167px;
  left: 375px;
  font-size: var(--font-size-mini);
  font-family: var(--font-inter);
  color: var(--color-white);
}

.F {
  top: 167px;
  left: 441px;
  font-size: var(--font-size-mini);
  font-family: var(--font-inter);
  color: var(--color-white);
}

.rectangle {
  top: 0;
  left: 0;
  border-radius: var(--br-11xl);
  background-color: var(--color-whitesmoke);
  width: 145px;
  height: 25px;
}
.rain-precipitation {
  position: absolute;
  top: 3.85px;
  left: 13px;
  display: inline-block;
  width: 107px;
  height: 11.54px;
}
.arrow-icon {
  position: absolute;
  top: 7.69px;
  left: 122px;
  width: 10px;
  height: 9.62px;
  object-fit: cover;
}
.rain-prediction-grp {
  position: absolute;
  top: 270px;
  left: 1121px;
  width: 145px;
  height: 25px;
  font-size: var(--font-size-sm-5);
}
.next-day-grp {
  position: absolute;
  top: 270px;
  left: 1287px;
  width: 100px;
  height: 25px;
  font-size: var(--font-size-sm-5);
  background-color: #F1F1F1;
  border-radius: var(--br-3xs);
  
}

.next-day-grp-child {
  position: relative;
  display: flex;
  align-items: center;
  cursor: pointer;
  left: 7.5px;
  top: 3px;
}

.dropdown {
  position: absolute;
  top: 100%; /* Position below the "Next days" element */
  left: 0;
  background-color: white;
  border-radius: var(--br-11xl);
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
  padding: 5px;
  z-index: 1;
  width: 120px; /* Adjust width as needed */
}

.dropdown-item {
  padding: 5px 10px;
  cursor: pointer;
  transition: background-color 0.2s ease;
}

.dropdown-item:hover {
  background-color: #f5f5f5;
  border-radius: var(--br-3xs);
}

.arrow-icon1 {
  position: absolute;
  top: 5.5px;
  left: 68px;
  width: 10px;
  height: 10px;
  object-fit: cover;
}
.cloud-icon,
.cloud-icon1,
.cloud-icon2,
.cloud-icon3 {
  position: absolute;
  top: 350px;
  left: 691px;
  width: 20px;
  height: 20px;
  object-fit: cover;
}
.cloud-icon1,
.cloud-icon2,
.cloud-icon3 {
  left: 913px;
}
.cloud-icon2,
.cloud-icon3 {
  left: 1135px;
}
.cloud-icon3 {
  left: 1357px;
}
.page {
  position: relative;
  text-align: left;
  font-size: var(--font-size-lg);
  color: var(--color-gray);
  font-family: var(--font-nunito);
}
.location-search {
  position: absolute;
  top: 240px;
  left: 207px;
  display: flex;
  align-items: center;
  gap: 10px;
}
.location-input{
  width: 110px;
}

.location-input {
  border: none;
  border-bottom: 3px solid var(--color-whitesmoke);
  outline: none;
  font-size: var(--font-size-sm);
  color: var(--color-white);
  background-color: transparent;
  padding: 5px 0;
 
}

.temperature-graph {
  margin-top: 20px; /* Add appropriate margin */
  padding: 20px; /* Add padding for spacing */
  border: 1px solid #ccc; /* Add a border for visualization */
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1); /* Add a subtle shadow */
  background-color: #fff; /* Background color for the graph area */
}
.Graph {
  display: flex;
  margin-top: 330px;
  margin-left: 520px;
  height: 100vh; /* Adjust as needed */
}
.progress-bar {
  position: relative;
  width: 75%;
  height: 10px; /* Adjust the height as needed */
  background-color: #e4e4e4; /* Background color of the progress bar container */
  border-radius: 5px; /* Rounded corners for the progress bar container */
  margin-top: 110px; /* Adjust margin as needed */
  margin-left: 30px;
}

.progress {
  position: absolute;
  height: 100%;
  background-color: #5C9CE5; /* Progress bar color */
  border-radius: 5px; /* Rounded corners for the progress bar */
}
.progress-text-humidity{
  position: absolute;
  top: 60px;
  left: 100px;
  width: 30px;
  height: 30px;
}

.progress-text-wind{
  position: absolute;
  top: 60px;
  left: 80px;
  width: 30px;
  height: 30px;
}

.progress-text-precipitation{
  position: absolute;
  top: 60px;
  left: 80px;
  width: 30px;
  height: 30px;
}
.progress-text-medium{
  position: absolute;
  top: 60px;
  left: 60px;
  width: 30px;
  height: 30px;
}
.progress-text-feelslike{
  position: absolute;
  top: 60px;
  left: 100px;
  width: 30px;
  height: 30px;
}

.progress-text-chanceofrain{
  position: absolute;
  top: 60px;
  left: 100px;
  width: 30px;
  height: 30px;
}

